<div class="sidebar">

  <div class="social">

      <a href="http://brown.columbia.edu"><img id="brown-logo" src="img/logo.png"></a>

      {% for account in site.social %}
        <a href="{{ account.url }}"><i class="social-logo fa fa-{{ account.type }}" aria-hidden="true"></i></a>
      {% endfor %}  

  </div>

  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="#">
        <h1>
          {{ site.title }}
        </h1>
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% for page in site.pages %}
        {% if page.layout == "page" %}
          {% if page.title != null %}
            <a class="sidebar-nav-item{% if page.url == page.url %} active{% endif %}" href="#{{ page.title }}">{{ page.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <span class="sidebar-nav-item">Currently v{#{ site.version }#}</span> -->
    </nav>

  </div>
</div>
